/* .background_container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  margin-left: 50%;
}

.first_view_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 50%;


}

.first_view {
  max-width: 45rem;
}

.fv_heading {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.fv_heading span {
  color: #edf72b;
}

.fv_tagline {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.start_button {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0.5rem 2.25rem;
  border: none;
  color: #000000;
  background-color: #edf72b;
} */
/* styles for devices with screen width up to 768px */
/* @media only screen and (max-width: 768px) {
    .background_container {
      margin-left: 0;
    }
  
    .first_view {
      max-width: 90%;
    }
  
    .fv_heading {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  
    .fv_tagline {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
  
    .start_button {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
   
  /* styles for devices with screen width from 768px up to 1200px */
.background_container {
    background-color: #000000;
    min-height: 96vh;
    min-width: 96vw;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    padding: 1rem;
}

.first_view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    text-align: center;
    margin: 0 auto;
   
}

.first_view {
    max-width: 45rem;
}

.fv_heading {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.fv_heading span {
    color: #f7862b;
}

.fv_tagline {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.fv_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 0.75rem;
    font-weight: 500;
}

.start_button {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0.5rem 2.25rem;
    border: none;
    margin-top: 1rem;
    color: #000000;
    background-color: #f7862b;
}

.fv_button {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0.5rem 2.25rem;
    border: none;
    margin-top: 1rem;
    border: 2px solid #f7862b;
    background-color: #000000;
    color: #f7862b;
}

.questions_container {
    display: flex;
    align-items: center;
}
/* For devices below 768px */
@media screen and (max-width: 767px) {
  .first_view_container {
    height: auto;
    padding: 2rem;
  }
  
  /* .fv_heading {
    font-size: 1.8rem;
  }
  
  .fv_tagline {
    font-size: 0.9rem;
  }
  
  .start_button, .fv_button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  
  .questions_container {
    flex-direction: column;
  } */
}

/* For devices below 281px */
@media screen and (max-width: 280px) {
 
  .background_container {
    min-height: 102vh;
  }
  
  
}
